<div class="row align-items-center" *ngIf="!isLoading && (data && data.length > 0)">
  <div class="col image" *ngFor="let image of data">
    <img class="img-responsive"
         [attr.src]="image.images.original.url"
         [attr.height]="100"
         [attr.width]="100"
         src=""/>
  </div>
</div>

<div class="row justify-content-center">
  <app-loader></app-loader>
</div>

<div class="row align-items-center">

  <div class="col" *ngIf="pageSize > 20">
    <ngb-pagination [collectionSize]="pageSize"
                    [pageSize]="50"
                    [(page)]="page"
                    [maxSize]="7"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="fetchGifPages($event)"></ngb-pagination>
  </div>


</div>


